﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome on SD coding challange</h3>
</div>
<div class="text-left">
    <p>Thank you very much for taking the time to contribute into SmartDebit code challange. This is a quick assessment to measure your abilities. As we do understand the time constraints can be a negative effect on everyones performance therefore we are more interested in the thinking process rather than the actual solution.</p>
    <p>While you are delivering your solition follow best practice and <b>SOLID principle.</b> When you extend the data structure consider using data relationships.</p>
    <p>You  have the following tasks to complete. Please note the III. is a bonus excercise. </p>
    <ul class="float-left">
        <li>I.   Payer entity is using the Name property as the identifier. Please suggest a bettter method of identify each payer entity and please explain your suggesion.</li>
        <li>II.  The application is still under construction, pleae help us to implement the Edit view for the Payer grid by making a link in each row corresponting to the enditing Payer. In order to get the data you have to implement the IRepository interface in the PayerRepository. Lastly please create a view to Display the data in editable format and be ready for the next stage develpment.</li>
        <li>III. Please alter the IRepository to have Update method in it, implement the method and finish off the Edit functionality. Please pay attention to not breaking existing functinality.</li>
    </ul>
</div>
