﻿@model PayerViewModelList
@{
    ViewData["Title"] = "Payers Page";
}

<div class="text-center">
    <h3>The Payers List</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <th>Name</th>
            <th>Geneder</th>
            <th>Age</th>
            <th>Address</th>
            <tbody>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                <tr>
                    <td>@Html.Raw(Model.Items.ToArray()[i].Name)</td>
                    @Html.ActionLink("Edit", "Edit", new { name = "name" })
                    <td>@Html.Raw(Model.Items.ToArray()[i].Geneder)</td>
                    @Html.ActionLink("Edit", "Edit", new { name = "name" })
                    <td>@Html.Raw(Model.Items.ToArray()[i].Age)</td>
                    @Html.ActionLink("Edit", "Edit", new { name = "name" })
                    <td>@Html.Raw(Model.Items.ToArray()[i].Address)</td>

                </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
